@media (min-width: $mobile-width) {
  .page-header__form {
    background-image: url("../img/bg-back-mobile@1x.jpg");
    padding-bottom: 2px;
  }

  @media
    (min-resolution: 144dpi),
    (min-resolution: 1.5dppx) {
    .page-header_handmobile {
      background-image: url("../img/bg-back-mobile@2x.jpg");
    }
  }

  .page-header__form-description {
    display: block;
    color: #ffffff;
    font-size: 24px;
    text-align: center;
    padding-top: 31px;
    padding-left: 6px;
    padding-bottom: 30px;
  }

  .form {
    position: relative;
  }

  .form__wrapper {
    padding: 0 20px;
  }

  .form__description {
    color: #283645;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
  }

  .form__please {
    display: none;
  }

  .form__name {
    margin-top: 35px;
    margin-bottom: 45px;
  }

  .form__name-label {
    display: block;
    margin-top: 17px;
    padding-left: 23px;
    color: #de6183;
    font-size: 14px;
    line-height: 30px;
  }

  .form__label-name:first-child {
    margin-top: 35px;
  }

  .form__name-input {
    width: 256px;
    margin-top: 5px;
    padding: 14px 0;
    padding-left: 20px;
    border: 2px solid #e5e5e5;
    font-size:  18px;
    line-height: 30px;
    border-radius: 5px;
  }

  .form__name-input:hover,
  .form__contacts-input:hover {
    border: 2px solid #000;
  }

  .form__name-input:active,
  .form__contacts-input:active {
    border: 2px solid $red-color;
  }

  .form__achievements {
    background-color: #f2f2f2;
    margin-bottom: 30px;
  }

  .form__achievements-intro {
    display: block;
    width: 225px;
    font-size: 14px;
    line-height: 18px;
    padding-left: 27px;
    padding-top: 37px;
    color: $red-color;
    text-align: center;
    text-transform: uppercase;
  }

  .checkbox-list__container {
    margin-left: 40px;
    margin-top: 43px;
  }

  .checkbox-list__container:nth-child(2),
  .checkbox-list__container:nth-child(6) {
    margin-top: 35px;
  }

  .checkbox-list__container:nth-child(3),
  .checkbox-list__container:nth-child(4),
  .checkbox-list__container:nth-child(5) {
    margin-top: 33px;
  }

  .checkbox-list {
    padding-bottom: 30px;
  }

  .form__achievements-item {
    display: none;
  }

  .checkbox-list__item {
    display: flex;
    position: relative;
    font-size: 18px;
    line-height: 30px;
    padding-left: 30px;
  }

  .checkbox-list__item:before {
    content: "";
    display: table;
    position: absolute;
    width: 36px;
    height: 36px;
    background-color: #fff;
    border: 2px solid #e5e5e5;
    top: -5px;
    left: -40px;
  }

  .checkbox-list__item:hover:before {
    border: 2px solid #000;
  }

  .checkbox-list__item:active:before {
    border: 2px solid $red-color;
  }

  .checkbox-list__item:after {
    content: "";
    display: none;
    position: absolute;
    width: 22px;
    height: 16px;
    background: url("../img/tick.png");
    top: 8px;
    left: -30px;
  }

  .form__achievements-item:checked + .checkbox-list__item:after {
    display: block;
  }

  .form__contacts {
    margin-top: 20px;
    margin-bottom: 40px;
  }

  .form__contacts-intro {
    display: none;
  }

  .form__label-contacts {
    display: block;
    font-size: 14px;
    line-height: 30px;
    color: #d8456d;
    padding-left: 23px;
    text-transform: uppercase;
    margin-bottom: 5px;
  }

  .form__contacts-input {
    width: 256px;
    padding: 15px 0;
    padding-left: 20px;
    font-size: 18px;
    line-height: 30px;
    border-radius: 5px;
    border: 2px solid #e5e5e5;
  }

  .form__label-contacts--mail {
    padding-top: 15px;
  }

  .form__contacts-input--mail {
    margin-top: -18px;
  }

  .form__app {
    background: #f2f2f2;
    padding-bottom: 20px;
  }

  .form__app-intro {
    display: block;
    text-transform: uppercase;
    text-align: center;
    color: #de6183;
    font-size: 14px;
    line-height: 18px;
    padding-top: 40px;
  }

  .form__app-item {
    display: none;
  }

  .radio-list {
    padding-top: 25px;
  }

  .radio-list__item {
    display: block;
    padding-left: 70px;
    padding-bottom: 26px;
    position: relative;
    font-size: 18px;
    line-height: 30px;
  }

  .radio-list__item:before {
    content: "";
    display: table;
    position: absolute;
    width: 36px;
    height: 36px;
    background-color: #fff;
    border: 2px solid #e5e5e5;
    border-radius: 50px;
    top: -5px;
    left: 0px;
  }

  .radio-list__item:hover:before {
    border: 2px solid #000;
  }

  .radio-list__item:active:before {
    border: 2px solid $red-color;
  }

  .radio-list__item:after {
    content: "";
    display: none;
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: #d22856;
    border-radius: 50px;
    top: 8px;
    left: 12px;
  }

  .form__app-item:checked + .radio-list__item:after {
    display: block;
  }

  .form__comments {
    margin-top: 23px;
    color: $red-color;
  }

  .form__label-comment {
    display: block;
    padding-left: 48px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 14px;
    line-height: 30px;
    text-transform: uppercase;
  }

  .form__comment {
    width: 254px;
    padding-left: 20px;
    padding-top: 16px;
    font-size: 18px;
    line-height: 30px;
    border: 2px solid #e5e5e5;
  }

  .form__sending {
    display: block;
    background-color: #2aab6d;
    color: #fff;
    font-size: 18px;
    line-height: 30px;
    border: none;
    border-radius: 5px;
    margin-top: 47px;
    padding: 15px 50px;
    text-transform: uppercase;
    cursor: pointer;
  }

  .form__sending:hover {
    background-color: #1c9b5e;
  }

  .form__sending:active {
    color: #4eb181;
    background-color: #1c9b5e;
  }

  .form__tip {
    display: block;
    padding-top: 20px;
    font-size: 14px;
    line-height: 30px;
    text-transform: uppercase;
    text-align: center;
  }

  .form__application {
    display: none;
    position: absolute;
    width: 300px;
    background-color: #fff;
    bottom: 410px;
    padding: 0 20px;
    padding-bottom: 30px;
  }

  .form__application-title {
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    padding-top: 20px;
    padding-left: 50px;
  }

  .form__application-description {
    text-align: center;
    font-size: 14px;
    line-height: 24px;
  }

  .form__application-container {
    margin-top: 50px;
    padding: 60px 0;
    background-color: #f2f2f2;
  }

  .form__application-button {
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
    padding: 10px 60px;
    margin-left: 20px;
    background-color: #2aab6d;
    border-radius: 3px;
    border: none;
  }

  .form__error {
    display: none;
    position: absolute;
    width: 280px;
    max-height: 290px;
    padding: 0 20px;
    background-color: #fff;
    bottom: 1100px;
  }

  .form__error-container {
    border: 1px solid #f2f2f2;
  }

  .form__error-title {
    width: 200px;
    font-size: 18px;
    line-height: 24px;
    padding-left: 50px;
    padding-top: 20px;
  }

  .form__error-description {
    width: 280px;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
  }

  .form__error-button {
    margin-left: 80px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 10px 50px;
    font-size: 18px;
    line-height: 30px;
    color: #fff;
    background-color: #2aab6d;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }

  .page-footer__social {
    display: flex;
    justify-content: flex-start;
    padding-left: 45px;
  }

  .social__container {
    margin-left: 3px;
  }
}

@media(min-width: $tablet-width) {
  .page-main {
    padding-bottom: 40px;
  }

  .page-header__form {
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-position: 50% 30%;
    padding-bottom: 10px;
  }

@media
  (min-resolution: 144dpi),
  (min-resolution: 1.5dppx) {
    .page-header__form {
      background-image: url("../img/bg-back-tablet@2x.jpg");
    }
  }

  .page-header__form-description {
    font-size: 50px;
    padding-top: 70px;
  }

  .form {
    margin-top: 90px;
  }

  .form__description {
    padding-left: 55px;
    width: 510px;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 0px;
  }

  .form__please {
    display: block;
    font-size: 18px;
    line-height: 30px;
    margin-top: 0px;
    padding-left: 150px;
  }

  .form__name {
    margin-top: 70px;
    margin-bottom: 65px;
  }

  .form__name-label {
    display: inline-block;
    width: 90px;
    margin-right: 0px;
    padding-left: 0px;
  }

  .form__name-input {
    width: 500px;
  }

  .form__name-container:nth-child(2) {
    margin-top: 50px;
  }

  .form__name-label--modificator {
    width: 50px;
  }

  .form__name-input--modificator {
    width: 540px;
  }

  .form__name-container:last-child {
    margin-top: 50px;
  }

  .form__container {
    display: flex;
    flex-direction: column;
    margin-top: 65px;
  }

  .form__app {
    order: 1;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    padding-bottom: 30px;
  }

  .form__app-intro {
    display: block;
    margin-top: -55px;
    margin-left: 150px;
    width: 320px;
    font-size: 14px;
    line-height: 30px;
    background-color: #fff;
  }

  .form__app-radio {
    margin-top: 20px;
    margin-left: 60px;
  }

  .radio-list__item {
    padding-left: 60px;
  }

  .form__contacts {
    margin-top: 70px;
    order: 2;
    border: 1px solid #e5e5e5;
    padding-bottom: 20px;
  }

  .form__contacts-intro {
    display: block;
    margin-top: -15px;
    margin-left: 150px;
    padding-left: 60px;
    color: $red-color;
    background-color: #fff;
    width: 260px;
    font-size: 14px;
    line-height: 30px;
    text-transform: uppercase;
  }

  .form__contacts-container {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 10px;
    margin-left: 60px;
  }

  .form__label-contacts {
    order: 3;
    margin-top: 8px;
    z-index: 5;
  }

  .form__contacts-input {
    order: 2;
    width: 478px;
    position: relative;
  }

  .form__label-contacts:after,
  .form__label-contacts--mail:after {
    content: "";
    display: table;
    position: absolute;
    width: 60px;
    height: 60px;
    background-image: url("../img/phone.png");
    background-repeat: no-repeat;
    background-color: #e5e5e5;
    background-position: 50% 50%;
    border-radius: 5px;
    z-index: 10;
  }

  .form__label-contacts:after {
    top: 20px;
    right: 58px;
  }

  .form__contacts-input--mail {
    margin-top: -3px;
  }

  .form__label-contacts--mail:after {
    background-image: url("../img/mail.png");
    top: 17px;
    right: 58px;
  }

  .form__label-contacts--mail {
    margin-top: -5px;
  }

  .form__achievements {
    order: 3;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    margin-top: 28px;
  }

  .form__achievements-intro {
    display: block;
    margin-top: -47px;
    margin-left: 78px;
    width: 410px;
    background-color: #fff;
  }

  .checkbox-list__container {
    margin-top: 50px;
    margin-left: 100px;
  }

  .form__comments-container {
    margin-top: 40px;
    border: 1px solid #e5e5e5;
    padding-bottom: 42px;
  }

  .form__label-comment {
    display: block;
    margin-top: -25px;
    margin-left: 170px;
    width: 230px;
    background-color: #fff;
  }

  .form__comment {
    margin-top: 22px;
    margin-left: 60px;
    width: 475px;
  }

  .form__sending {
    display: inline-block;
    margin-top: 70px;
    padding: 15px 60px;
  }

  .form__tip {
    display: inline-block;
    width: 200px;
    margin-left: 110px;
  }

  .form__application {
    width: 460px;
    left: 80px;
    bottom: 1100px;
    padding: 0px;
    border: 1px solid gray;
    z-index: 100;
  }

  .form__application-title {
    text-align: center;
    width: 270px;
    padding-left: 100px;
    font-size: 30px;
    line-height: 40px;
  }

  .form__application-description {
    padding-left: 70px;
    width: 320px;
  }

  .form__application-button {
    margin-left: 100px;
  }

  .form__error {
    width: 470px;
    max-height: 360px;
    margin-left: 100px;
    padding: 0px;
    bottom: 1800px;
    border: 1px solid #f2f2f2;
  }

  .form__error-title {
    text-align: center;
    width: 230px;
    font-size: 30px;
    line-height: 40px;
    padding-left: 130px;
  }

  .form__error-description {
    width: 320px;
    font-size: 18px;
    line-height: 24px;
    padding-left: 80px;
  }

  .form__error-button {
    margin-left: 100px;
    width: 300px;
  }
}

@media(min-width: $desktop-width) {
  .page-header__form {
    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-position: 50% 20%;
    padding-bottom: 25px;
  }

@media
    (min-resolution: 144dpi),
    (min-resolution: 1.5dppx) {
    .page-header__form {
      background-image: url("../img/bg-back-desktop@2x.jpg");
    }
  }

  .page-header__form-description {
    font-weight: 400;
    padding-top: 105px;
  }

  .form__wrapper {
    padding: 0px;
  }

  .form__description {
    width: 820px;
    padding-left: 190px;
  }

  .form__please {
    display: inline-block;
    width: 330px;
    padding-left: 0px;
  }

  .form__container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 0 120px;
    margin-top: 12px;
  }

  .form__name-input {
    width: 320px;
    margin-left: -10px;
  }

  .form__name-input--modificator {
    width: 360px;
  }

  .form__app {
    margin-top: 70px;
    margin-left: 50px;
    margin-bottom: 40px;
    width: 440px;
  }

  .form__app-intro {
    margin-left: 70px;
  }

  .form__app-radio {
    margin-left: 95px;
  }

  .form__contacts {
    margin-top: 20px;
    padding-bottom: 7px;
    width: 940px;
  }

  .form__contacts-intro {
    margin-left: 300px;
  }

  .form__contacts-container-main {
    display: flex;
    flex-wrap: nowrap;
  }

  .form__contacts-container:first-child {
    width: 470px;
    margin-left: 65px;
  }

  .form__contacts-container:last-child {
    margin-left: -20px;
  }

  .form__contacts-input {
    width: 355px;
  }

  .form__label-contacts:after {
    top: 19px;
    right: 90px;
  }

  .form__label-contacts--mail:after {
    top: 15px;
    right: 0px;
  }

  .form__achievements {
    margin-top: 20px;
    margin-left: 10px;
    padding-bottom: 10px;
    width: 940px;
  }

  .form__achievements-intro {
    margin-left: 250px;
  }

  .form__achievements-checkbox {
    display: flex;
    flex-wrap: wrap;
  }

  .checkbox-list__container {
    margin-top: 35px;
  }

  .checkbox-list__container:nth-child(2) {
    margin-left: 80px;
  }

  .checkbox-list__container:nth-child(3) {
    margin-left: 110px;
  }

  .checkbox-list__container:nth-child(5) {
    margin-left: 110px;
  }

  .checkbox-list__container:nth-child(6) {
    margin-left: 120px;
  }

  .form__comments {
    padding: 0 120px;
  }

  .form__label-comment {
    margin-left: 340px;
  }

  .form__comment {
    margin-top: 15px;
    width: 800px;
    height: 110px;
  }

  .form__sending {
    margin-left: 10px;
  }

  .form__tip {
    margin-left: 312px;
  }

  .form__application {
    top: 600px;
    width: 780px;
    margin-left: 150px;
    height: 402px;
  }

  .form__application-title {
    width: 420px;
    padding-left: 200px;
  }

  .form__application-description {
    width: 350px;
    padding-left: 220px;
  }

  .form__application-button {
    margin-left: 250px;
  }

  .form__error {
    width: 480px;
    max-height: 360px;
    bottom: 700px;
    margin-left: 350px;
    z-index: 15;
  }

  .form__error-title {
    width: 240px;
    text-align: center;
  }

  .form__error-description {
    width: 300px;
    padding-left: 100px;
  }

  .form__error-button {
    width: 300px;
    margin-left: 100px;
  }
}
