@media(min-width: $mobile-width) {
.form__description {
color: #283645;
font-size: 14px;
line-height: 30px;
text-align: center;
}
.form__name {
padding: 0 20px;
margin-bottom: 40px;
}
.form__label-name {
display: block;
margin-top: 17px;
padding-left: 20px;
color: #de6183;
font-size: 14px;
line-height: 30px;
}
.form__label-name:first-child {
margin-top: 35px;
}
.form__name-input {
width: 256px;
margin-top: -11px;
padding: 14px 0;
padding-left: 20px;
border: 2px solid #e5e5e5;
font-size:  18px;
line-height: 30px;
border-radius: 5px;
}
.form__achievements {
background-color: #f2f2f2;
margin-bottom: 30px;
}
.form__padding {
padding: 0 20px;
}
.form__achievements-intro {
display: block;
width: 225px;
font-size: 14px;
line-height: 18px;
padding-left: 28px;
padding-top: 38px;
color: $red-color;
text-align: center;
text-transform: uppercase;
}
.checkbox-list {
padding-bottom: 30px;
}
.checkbox-list__item {
font-size: 18px;
line-height: 30px;
display: block;
padding-top: 30px;
padding-left: 55px;
}
.checkbox-list__item:first-child {
padding-top: 30px;
}
.checkbox-list__item:nth-child(2) {
padding-top: 35px;
}
.checkbox-list__item:nth-child(3) {
padding-top: 25px;
}
.checkbox-list__item:nth-child(4) {
padding-top: 40px;
}
.checkbox-list__item:nth-child(5) {
padding-top: 50px;
}
.checkbox-list__item:nth-child(6) {
padding-top: 60px;
}
.form__contacts {
margin-top: 20px;
padding: 0 20px;
margin-bottom: 40px;
}
.form__label-contacts {
display: block;
font-size: 14px;
line-height: 30px;
color: #d8456d;
padding-left: 20px;
padding-top: 5px;
text-transform: uppercase;
margin-bottom: 5px;
}
.form__contacts-input {
width: 256px;
padding: 15px 0;
padding-left: 20px;
font-size: 18px;
line-height: 30px;
border-radius: 5px;
border: 2px solid #e5e5e5;
}
.form__label-contacts--mail {
padding-top: 15px;
}
.form__contacts-input--mail {
margin-top: -15px;
}

.form__app {
background: #f2f2f2;
padding-bottom: 15px;
}
.form__app-intro {
display: block;
text-transform: uppercase;
text-align: center;
color: #de6183;
font-size: 14px;
line-height: 18px;
padding-top: 40px;
}
.radio-list {
padding-top: 30px;
}
.radio-list__item {
display: block;
padding-left: 82px;
padding-bottom: 38px;
}

.form__comments {
margin-top: 20px;
color: $red-color;
padding: 0 20px;
}
.form__label-comment {
display: block;
padding-left: 45px;
padding-top: 10px;
padding-bottom: 10px;
font-size: 14px;
line-height: 30px;
text-transform: uppercase;
}
.form__comment {
width: 260px;
padding-left: 15px;
padding-top: 20px;
font-size: 18px;
line-height: 30px;
}
.form__sending {
display: block;
background-color: #2aab6d;
color: #fff;
font-size: 18px;
line-height: 30px;
border: none;
border-radius: 5px;
margin-top: 45px;
padding: 15px 50px;
text-align: center;
text-transform: uppercase;
cursor: pointer;
}
.form__tip {
display: block;
padding-top: 25px;
font-size: 14px;
line-height: 30px;
text-transform: uppercase;
text-align: center;
}
.form__tip-sup {
font-size: 14px;
line-height: 30px;
color: $red-color;
}
}
@media(min-width: $tablet-width) {
  .page-header__form {
    padding-bottom: 5px;
  }
  .page-header__form-description {
    font-size: 50px;
    padding-top: 50px;
  }
  .form__description {
    width: 510px;
    padding-left: 70px;
  }
  .form__label-name {
    width: 80px;
    margin-right: 0px;
  }
  .form__comment {
    width: 500px;
    margin-left: 60px;
  }
}
