@import "photo-form.scss";

@media(min-width: $mobile-width) {
  body {
    width: 320px;
  }

  .photos-intro {
    display: inline-block;
    width: 100%;
    padding-bottom: 58px;
    background-image: url("../img/bg-back-mobile@1x.jpg");
    background-position: 0 25%;
}

@media
    (min-resolution: 144dpi),
    (min-resolution: 1.5dppx) {
    .photos-intro {
      background-image: url("../img/bg-back-mobile@2x.jpg");
    }
  }

  .photos-intro__description {
    display: block;
    color: #fff;
    padding-top: 10px;
    padding-left: 70px;
    font-size: 24px;
    font-weight: 400;
    width: 180px;
    text-align: center;
  }

  .photos__wrapper {
    padding: 0 20px;
  }

  .photos__intro {
    width: 250px;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    display: block;
    padding-bottom: 30px;
    padding-left: 20px;
  }

  .photos__item {
    background-color: #f2f2f2;
    margin-top: 15px;
    position: relative;
  }

  .photos__item--main {
    margin-top: 5px;
  }

  .photos__item--margin {
    margin-top: 15px;
    background-color: #f2f2f2;
    position: relative;
  }

  .photos__figure {
    margin-left: 0px;
  }

  .main-photo {
    padding: 0;
  }

  .photos__description {
    margin-top: 16px;
    padding-bottom: 20px;
  }

  .description-item__owner {
    padding-left: 16px;
    font-size: 14px;
    font-weight: bold;
    width: 50px;
  }

  .description-item__time {
    text-transform: uppercase;
    font-size: 12px;
    color: #5e6873;
    padding-left: 5px;
  }

  .description-item__comment {
    display: block;
    font-size: 14px;
    line-height: 24px;
    padding-left: 18px;
    margin-top: 5px;
  }

  .description-item__likes {
    display: block;
    text-transform: uppercase;
    padding-left: 49px;
    font-size: 12px;
    line-height: 24px;
    color: #d22856;
    font-weight: normal;
  }

  .description-item__likes::before {
    content: "";
    position: absolute;
    display: block;
    background: url("../img/icon-heart.svg");
    width: 13px;
    height: 12px;
    bottom: 30px;
    left: 18px;
    color: $red-color;
  }
}

@media(min-width: $tablet-width) {
  .photos-intro {
    padding-bottom: 65px;
    background: url("../img/bg-back-tablet@1x.jpg");
    background-position: 50% 25%;
  }

@media
    (min-resolution: 144dpi),
    (min-resolution: 1.5dppx) {
    .photos-intro {
      background-image: url("../img/bg-back-tablet@2x.jpg");
    }
  }

  .photos-intro__description {
    padding-top: 23px;
    padding-left: 138px;
    width: 400px;
    font-size: 50px;
    font-weight: 400;
    padding-bottom: 30px;
  }

  .photos__intro {
    font-size: 18px;
    width: 490px;
    margin-top: 95px;
    padding-left: 88px;
    padding-bottom: 55px;
  }

  .photos__wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-top: 37px;
  }

  .photos__item {
    position: relative;
    width: 300px;
    margin-left: 5px;
  }

  .photos__item--main {
    width: 660px;
    margin: 0px;
  }

  .photos__img {
    padding: 0px;
  }

  .description-item {
    margin-top: 24px;
    margin-left: 11px;
    padding-bottom: 22px;
  }

  .description-item--modificator {
    padding-bottom: 70px;
  }

  .description-item__owner {
    padding-left: 14px;
    font-size: 14px;
    font-weight: bold;
    width: 50px;
  }

  .description-item__time {
    text-transform: uppercase;
    font-size: 12px;
    color: #5e6873;
    padding-left: 5px;
  }

  .description-item__comment {
    width: 260px;
    display: block;
    font-size: 14px;
    line-height: 24px;
    padding-left: 13px;
    margin-top: 5px;
  }

  .description-item__likes {
    margin-top: -3px;
    padding-left: 12px;
  }

  .description-item__comment--modificator {
    width: 520px;
  }

  .description-item__likes--modificator {
    margin-top: -87px;
    margin-left: 410px;
  }

  .description-item__likes::before {
    content: "";
    position: absolute;
    display: block;
    background: url("../img/icon-heart.svg");
    width: 13px;
    height: 12px;
    bottom: 28px;
    left: 250px;
    color: $red-color;
  }

  .description-item__likes--margin {
    margin-top: 35px;
  }
}

@media(min-width: $desktop-width) {
  .page-header__photos {
    background-image: url("../img/bg-back-desktop@1x.jpg");
  }

@media
  (min-resolution: 144dpi),
  (min-resolution: 1.5dppx) {
    .page-header__photos {
      background-image: url("../img/bg-back-desktop@2x.jpg");
    }
  }
  .photos-intro__description {
    padding-top: 50px;
    padding-left: 405px;
    padding-bottom: 0px;
  }
  .photos__intro {
    font-size: 18px;
    line-height: 30px;
    width: 580px;
    padding-left: 310px;
    margin-top: 85px;
  }
  .photos__item {
    margin-left: 70px;
  }
  .photos__item--main {
    width: 1200px;
    margin-left: 0px;
    margin-top: 15px;
  }
  .description-item--modificator {
    padding: 0 120px;
    padding-bottom: 45px;
    margin-left: 22px;
  }
  .description-item__comment--modificator {
    width: 940px;
  }
  .description-item__likes--modificator {
    margin-top: -60px;
    margin-left: 765px;
  }
  .photos__wrapper {
    padding: 0 120px;
  }
  .photos__item {
    margin-left: 10px;
    margin-right: 6px;
  }
  .photos__item:nth-child(4),
  .photos__item:nth-child(5),
  .photos__item:nth-child(6) {
    margin-top: 52px;
  }
  .photos__form {
    margin-top: 60px;
  }
}
