@media(min-width: $mobile-width) {
  body {
    width: 320px;
  }
.photos-intro {
  padding-bottom: 60px;
  margin-bottom: 45px;
}
.photos-intro__description {
  display: block;
  color: #fff;
  padding-top: 10px;
  padding-left: 70px;
  font-size: 24px;
  font-weight: 400;
  width: 180px;
  text-align: center;
}
.photos__intro {
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  display: block;
  padding-bottom: 30px;
}
.photos__item {
  background-color: #f2f2f2;
  margin-top: 18px;
  position: relative;
}
.photos__item--margin {
  margin-top: 15px;
  background-color: #f2f2f2;
  position: relative;
}
.photos__figure {
  margin-left: 0px;
}
.photos__img {
  padding: 0 20px;
}
.main-photo {
  padding: 0;
}
.photos__description {
  padding: 0 20px;
  margin-top: 17px;
  padding-bottom: 20px;
}
.description-item__owner {
  padding-left: 16px;
  font-size: 14px;
  font-weight: bold;
  width: 50px;
}
.description-item__time {
  text-transform: uppercase;
  font-size: 12px;
  color: #5e6873;
  padding-left: 5px;
}

.description-item__comment {
  display: block;
  font-size: 14px;
  line-height: 24px;
  padding-left: 18px;
  margin-top: 5px;
}
.description-item__likes {
  display: block;
  text-transform: uppercase;
  padding-left: 50px;
  font-size: 12px;
  line-height: 24px;
  color: #d22856;
  font-weight: normal;
}
.description-item__likes::before {
  content: "";
  position: absolute;
  display: block;
  background: url("../img/icon-heart.svg");
  width: 13px;
  height: 12px;
  bottom: 30px;
  left: 37px;
  color: $red-color;
}
.photo__form {
  margin-top: 40px;
}
.form__intro {
  width: 280px;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  padding-left: 20px;
}
.form__photo {
  margin-top: 45px;
  padding: 0 20px;
}
.form__main {
  background-color: #f2f2f2;
}
.form__filters {
  margin-top: 42px;
  padding: 0 20px;
  padding-left: 50px;
  display: flex;
}
.form__filter {
  margin-right: 35px;
}
.form__input {
  margin-top: 25px;
  padding: 0 20px;
  padding-bottom: 40px;
}
.form__input-range {
  display: block;
  position: relative;
  padding-left: 30px;
  width: 240px;
  height: 2px;
  background-color: #283645;
}
.form__input-range::after {
  content: "";
  display: table;
  position: absolute;
  width: 14px;
  height: 14px;
  border-radius: 10px;
  background-color: #ffffff;
  border: 2px solid #d22856;
  top: -8px;
  left: 203px;
}
.form__input-sending {
  font-size: 18px;
  font-weight: 18px;
  font-weight: bold;
  border: 3px solid #d22856;
  color: #d22856;
  border-radius: 50px;
  padding: 15px 90px;
  display: block;
  margin-top: 65px;

}
.form__input-cancel {
  color: #dddfe0;
  border: 3px solid #dddfe0;
  border-radius: 50px;
  padding: 15px 108px;
  background-color: #f2f2f2;
}
}
@media(min-width: $tablet-width) {
  .photos-intro {
    padding-bottom: 60px;
    margin-bottom: 45px;
  }
  .photos-intro__description {
    padding-top: 43px;
    padding-left: 138px;
    width: 400px;
    font-size: 50px;
    font-weight: 400;
    padding-bottom: 30px;
  }
  .photos__intro {
    font-size: 18px;
    width: 490px;
    margin-top: 95px;
    padding-left: 88px;
    padding-bottom: 30px;
  }

  .photos__item {
    display: inline-block;
    vertical-align: top;
    margin: 0px;
    position: relative;
  }
  .photos__item--main {
    width: 660px;
  }
  .photos__img {
   padding: 0px;
  }
  .photos__description {
    padding: 0 20px;
    margin-top: 17px;
    padding-bottom: 20px;
  }
  .description-item__owner {
    padding-left: 16px;
    font-size: 14px;
    font-weight: bold;
    width: 50px;
  }
  .description-item__time {
    text-transform: uppercase;
    font-size: 12px;
    color: #5e6873;
    padding-left: 5px;
  }

  .description-item__comment {
    display: block;
    font-size: 14px;
    line-height: 24px;
    padding-left: 18px;
    margin-top: 5px;
  }
  .description-item__likes {
    display: block;
    text-transform: uppercase;
    padding-left: 50px;
    font-size: 12px;
    line-height: 24px;
    color: #d22856;
    font-weight: normal;
  }
  .description-item__likes::before {
    content: "";
    position: absolute;
    display: block;
    background: url("../img/icon-heart.svg");
    width: 13px;
    height: 12px;
    bottom: 30px;
    left: 37px;
    color: $red-color;
  }
}
