@media(min-width: $mobile-width) {
  body {
    width: 320px;
  }

  .photos__form {
    margin-top: 40px;
  }

  .form__intro {
    width: 280px;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
  }

  .form__main {
    margin-top: 40px;
    padding: 0 20px;
  }

  .form__photo {
    margin-top: 20px;
  }

  .form__filters {
    margin-top: 40px;
    padding: 0 20px;
    padding-left: 34px;
    display: flex;
  }

  .form__filter {
    margin-right: 35px;
  }

  .form__range {
    margin-top: 35px;
    padding-bottom: 40px;
  }

  .form__range-mobile {
    display: block;
    position: relative;
    padding-left: 37px;
    width: 218px;
    height: 2px;
    background-color: #283645;
  }

  .form__range-mobile::after {
    content: "";
    display: table;
    position: absolute;
    width: 14px;
    height: 14px;
    border-radius: 10px;
    background-color: #ffffff;
    border: 2px solid #d22856;
    top: -8px;
    left: 190px;
  }

  .form__input-sending {
    font-size: 18px;
    font-weight: 18px;
    font-weight: bold;
    border: 3px solid #d22856;
    color: #d22856;
    border-radius: 50px;
    padding: 15px 90px;
    display: block;
    margin-top: 72px;
    cursor: pointer;
  }

  .form__input-cancel {
    color: #dddfe0;
    border: 3px solid #dddfe0;
    border-radius: 50px;
    margin-top: -5px;
    padding: 15px 108px;
    background-color: #f2f2f2;
    cursor: pointer;
  }

  .form__input-range {
    display: none;
  }

  .form__input-sending:hover {
    color: #fff;
    background-color: #d22856;
  }

  .form__input-sending:active {
    color: #e06989;
    background-color: #d22856;
  }

  .form__input-cancel:hover {
    color: #b9bdc1;
    border-color: #b5b9be;
  }

  .form__input-cancel:active {
    background-color: #b5b9be;
    color: #cbced2;
  }
}

  @media(min-width: $tablet-width) {
  .form__intro {
    font-size: 18px;
    line-height: 30px;
    width: 450px;
    padding-left: 100px;
  }

  .photos__form {
    padding-left: 0px;
    margin-top: 100px;
  }

  .form__container {
    padding-bottom: 50px;
  }

  .form__main {
    margin-top: 70px;
    display: flex;
  }

  .form__photo {
    margin-top: 55px;
  }

  .form__filters {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-left: 16px;
  }

  .form__input {
    display: none;
  }

  .form__range {
    display: none;
  }

  .form__filter-range {
    width: 280px;
    display: flex;
    position: relative;
    margin-top: 30px;
  }

  .form__filter-range:first-child:after,
  .form__filter-range:nth-child(2):after,
  .form__filter-range:last-child:after {
    content: "";
    display: table;
    position: absolute;
    width: 11px;
    height: 11px;
    border-radius: 10px;
    background-color: #ffffff;
    border: 2px solid #d22856;
  }

  .form__filter-range:first-child:after {
    top: 12px;
    left: 198px;
  }

  .form__filter-range:nth-child(2):after {
    top: 12px;
    left: 80px;
  }

  .form__filter-range:last-child:after {
    top: 12px;
    left: 150px;
  }

  .form__input-range {
    display: block;
    width: 200px;
    background-color: #000;
    height: 2px;
    margin-left: 25px;
  }

  .form__filter {
    margin-right: 0px;
    width: 25px;
  }

  .form__filter-range--modificator {
    margin-top: 19px;
  }

  .form__filter--modificator {
    width: 18px;
    margin-top: 5px;
    margin-left: 5px;
  }

  .form__input-range {
    margin-top: 20px;
  }

  .form__input-range--modificator {
    margin-left: 30px;
  }

  .form__input-buttons {
    margin-left: 50px;
    padding-top: 17px;
  }

  .form__input-sending {
    padding: 15px 80px;
  }

  .form__input-cancel {
    margin-top: 6px;
    padding: 15px 100px;
  }

  .footer-photo {
    padding-left: 4px;
  }
}
  @media(min-width: $desktop-width) {
    .form__intro {
      padding-left: 375px;
    }
    .form__container {
      padding: 0 120px;
      background-color: transparent;
    }
    .form__main {
      background-color: #f2f2f2;
      padding-bottom: 50px;
    }
    .form__photo {
      margin-left: 70px;
    }
    .form__filters-container {
      margin-left: 40px;
    }
    .form__filter-range {
      width: 380px;
    }
    .form__filter {
      width: 40px;
    }
    .form__input-range {
      margin-left: 50px;
      width: 400px;
    }
    .form__filter-range:first-child:after {
      top: 13px;
      left: 165px;
    }
    .form__filter-range:nth-child(2):after {
      top: 13px;
      left: 340px;
    }
    .form__filter-range:last-child:after {
      top: 13px;
      left: 250px;
    }
    .form__input-buttons {
      display: flex;
      margin-top: 80px;
    }
    .form__input-sending {
      height: 55px;
      padding: 0px 42px;
    }
    .form__input-cancel {
      margin-top: 72px;
      height: 55px;
      padding: 8px 60px;
      margin-left: 48px;
    }
}
