@media (min-width: $mobile-width) {
.reviews {
  padding: 0 20px;
  margin-bottom: 0px;
}
.reviews__list {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0px;
}
.reviews__item {
  display: flex;
  flex-direction: column;
}
.reviews__client-name {
  font-size: 18px;
  line-height: 30px;
  color: #000;
  text-align: center;
  margin: 0;
}
.reviews__description {
  font-size: 14px;
  line-height: 30px;
  width: 280px;
  margin-top: 12px;
  margin-bottom: 2px;
  text-align: center;
  order: 2;
}
.reviews__client-age {
  display: none;
  padding-left: 40px;
}
.reviews__toggles {
  padding-left: 110px;
}
.reviews__toggles-buttons {
  width: 3px;
  height: 12px;
  border-radius: 50px;
  background-color: #bec2c7;
  border: 0px solid #fff;
  margin-right: 10px;
  cursor: pointer;
}
.reviews__toggles-buttons:hover {
  background-color: #7e868f;
}
.reviews__toggles-buttons:active {
  background-color: #e9ebec;
}
.reviews__toggles-buttons--checked {
  margin-right: 10px;
  width: 12px;
  height: 17px;
  border-radius: 50px;
  border: 3px solid #283645;
  background-color: #fff;
}
.reviews__toggles-buttons--checked:hover,
.reviews__toggles-buttons--checked:active {
  background-color: #fff;
}
}
@media(min-width: $tablet-width) {
  .reviews {
    padding: 0 20px;
    margin-bottom: 20px;
  }
  .reviews__wrapper {
    margin-top: 118px;
  }
  .reviews__item {
    display: flex;
    flex-direction: column-reverse;
  }
  .reviews__description {
    width: 620px;
    font-size: 18px;
    line-height: 30px;
  }
  .reviews__client-name {
    margin-top: 28px;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 0px;
  }
  .reviews__client-age {
    display: block;
    margin-top: 5px;
    padding-left: 220px;
    font-size: 14px;
    line-height: 30px;
  }
  .reviews__toggles {
    text-align: center;
    margin-top: -70px;
    padding-left: 0px;
  }
}
@media (min-width: $desktop-width) {
  .reviews {
    margin-top: 100px;
    margin-bottom: 30px;
    position: relative;
  }
  .reviews__list {
    padding-top: 40px;
    list-style: none;
  }
  .reviews__item {
    display: none;

  }
  .reviews__item:first-child {
    display: flex;
    flex-direction: column-reverse;
  }
  .reviews__description {
    padding-top: 45px;
    padding-left: 230px;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    width: 700px;
  }
  .reviews__description:before,
  .reviews__description:after {
    content: "";
    display: table;
    position: absolute;
    width: 22px;
    height: 40px;
    background: url("../img/icon-review-arrow-left.svg");
    top: 100px;
    left: 80px;
    cursor: pointer;
  }
  .reviews__description:after {
    background: url("../img/icon-review-arrow-right.svg");
    top: 100px;
    left: 1050px;
  }
  .reviews__description:hover:before,
  .reviews__description:hover:after {
    opacity: 0.5;
  }
  .reviews__description:active:before,
  .reviews__description:active:after {
    opacity: 0.3;
  }
  .reviews__wrapper::before {
    content: "";
    display: block;
    position: absolute;
    width: 79px;
    height: 63px;
    top: -15px;
    left: 560px;
    background-image: url("../img/quotes.png");
  }
  .reviews__client-name {
    text-align: center;
    font-size: 24px;
    line-height: 30px;
    padding-top: 10px;
  }
  .reviews__client-age {
    display: block;
    padding-left: 470px;
    font-size: 18px;
    line-height: 30px;
    margin-top: 0px;
  }
  .reviews__toggles {
    display: none;
  }
}
