$red-color: #d8456d;
$mobile-width: 320px;
$tablet-width: 660px;
$desktop-width: 1200px;
@import "advantages.scss";
@import "reviews.scss";
@import "form.scss";
@import "photo.scss";
@import "tariffs.scss";

body {
  min-width: 320px;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  margin: 0 auto;
}

@media (min-width: $mobile-width) {
body {
  width: 320px;
}
.page-header {
  background-image: url("../img/bg-back-mobile@1x.jpg");
  position: relative;
  margin-bottom: 45px;
}
.page-header__form-description {
  display: block;
  color: #89929b;
  font-size: 24px;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 55px;
}
.main-nav__wrapper {
  display: flex;
  background-color: transparent;
}
.main-nav__logo {
  padding: 0 20px;
  margin-left: 0;
}
.main-nav__toggle-open, {
  display: block;
  margin-left: 101px;
  height: 60px;
  background-color: transparent;
  border: none;
}
.main-nav__toggle-close {
  display: none;
}
.header-nav {
  display: none;
}
.header-nav-container {
  margin: 0 auto;
  display: flex;
  background-color: #283645;
}
.header-logo {
  display: block;
}
.main-nav__toggle {
  display: block;
}
.header-ul {
  list-style: none;
  color: #fff;
  text-transform: uppercase;
  padding-left: 0;
  text-align: center;
  margin: 0;
}
.header-ul__item {
  display: block;
  background-color: #283645;
  width: 318px;
  border: 1px solid #000;
  padding: 22px 0px;
}
.modal-content-show {
  display: block;
}
.modal-content-close {
  display: none;
}
/* Стили для страницы INDEX.HTML */
.page-header_handmobile {
  padding-top: 110px;
}
.page-header_handmobile-img {

}
.download-app {
  position: relative;
  background-color: #1d2631;
  padding-top: 30px;
  padding-bottom: 15px;
}
.download-app__h1 {
  display: none;
}
.download-app__button {
  margin-left: 20px;
  margin-top: 0px;
  background-color: #1d2631;
  border: 3px solid #fff;
  color: #fff;
  font-size: 18px;
  line-height: 18px;
  border-radius: 50px;
  padding: 15px 50px;
}
.download-app__wrapper {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}
.download_description {
  display: block;
  color: #fff;
  padding-left: 5px;
  padding-top: 8px;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}
/* Преимущества advantages.scss */






.page-footer__wrapper {
  z-index: 3;
}
.contact {
  margin-bottom: 40px;
  padding: 0 20px;
}
.contact__intro {
  padding-top: 20px;
  font-size: 24px;
  text-align: center;
  font-weight: 400;
}
.contact__phone-span,
.contact__mail-span,
.contact__address-span {
  display: block;
  padding-top: 15px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}
.contact__mail-span {
  padding-top: 25px;
}
.contact__address-span {
  padding-top: 25px;
}
.contact__phone,
.contact__mail,
.contact__address {
  display: block;
  text-align: center;
  font-size: 24px;
  font-weight: normal;
  color: $red-color;
  padding-top: 4px;
}
.page-footer__map {
  position: relative;
  z-index: 1;
  width: 320px;
  height: 200px;
  background-image: url("../img/bg-map-mobile@1x.png");
}
.page-footer__map::before {
  content: "";
  display: table;
  position: absolute;
  z-index: 2;
  width: 320px;
  height: 123px;
  background-image: url("../img/triangle-white-footer.png");
  top: -70px;
  right: 0px;
}
.page-footer__map::after {
  content: "";
  display: table;
  position: absolute;
  width: 36px;
  height: 36px;
  background-image: url("../img/icon-map-marker.svg");
  top: 100px;
  left: 150px;
}
/* form.scss */


.page-footer__logo {
  padding-top: 40px;
  padding-left: 40px;
}
.social {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
}
.page-footer__developer {
  margin-top: 40px;
  padding-left: 60px;
}
.page-footer__developer-span {
  font-size: 14px;
  line-height: 18px;
}
.page-footer__developer-img {
  padding-left: 10px;
}
.footer-bottom {
  display: none;
}
/* СТИЛИ ДЛЯ PHOTO.HTML*/

}
@media (min-width: $tablet-width) {
  body {
    width: 660px;
    padding: 0;
    background: #fff;
  }
  .page-header {
    background-image: url("../img/back-tablet@1x.jpg");
    position: relative;
  }
  .main-nav__wrapper {
    padding: 0 20px;
  }
.main-nav__logo-img {
  padding-top: 28px;
  padding-left: 50px;
}
  .main-nav__toggle-open {
    margin-top: 30px;
    margin-left: 360px;
  }
  .header-ul {
    display: none;
  }
  .page-header_handmobile {
    position: absolute;
    top: 55px;
    left: 170px;
  }
  .page-header_handmobile-img {
    width: 470px;
    height: 550px;
  }
  .download-app {
    display: flex;
    margin-top: 80px;
    padding: 0 20px;
    padding-bottom: 92px;
    background-color: transparent;
  }
  .download-app__h1 {
    display: block;
    padding-left: 30px;
    color: #fff;
    width: 240px;
    font-weight: normal;
    font-size: 40px;
    text-align: center;
  }
  .download-app__button {
    margin-top: 10px;
    background-color: transparent;
    border: 3px solid #fff;
    color: #fff;
    font-size: 21px;
    line-height: 18px;
    border-radius: 50px;
    padding: 15px 40px;
    text-align: center;
  }
  .download-app__wrapper {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
  }
  .download_description {
      display: block;
      color: #fff;
      padding-top: 13px;
      font-size: 18px;
      line-height: 24px;
      font-weight: 400;
      text-align: center;
    }



  .page-footer {
    padding-bottom: 50px;
  }
  .page-footer__wrapper {
    margin-top: -15px;
  }
  .contact__intro {
    font-size: 40px;
  }
  .contact-div {
    display: inline-block;
    width: 260px;
    margin-left: 20px;
    margin-top: -16px;
  }
  .contact-div:last-child {
    margin-top: 25px;
    margin-left: 180px;
  }
  .contact__phone-span {
      padding-top: 0px;
  }
  .page-footer__map {
    width: 660px;
    height: 370px;
    background: url("../img/map-tablet.jpg");
  }
  .page-footer__map::after {
    top: 190px;
    left: 310px;
  }
  .footer-bottom {
    display: flex;
    justify-content: space-between;
  }
  .page-footer__logo {
   margin-left: -20px;
  }
  .social {
    margin-left: -28px;
  }
  .social__img {
    margin-left: 60px;
  }
  .page-footer__developer {
    padding-right: 20px;
  }
  /* PHOTO-TABLET */

  /* FORM TABLET */

}
@media (min-width: $desktop-width) {
body {
    width: 1200px;
    background: #fff;
    padding: 0;
}
.page-header {
    background-image: url("../img/back-desktop.jpg");
    position: relative;
}
.main-nav__toggle-open,
.main-nav__toggle-close {
  display: none;
}
.main-nav__wrapper {
  padding: 0 120px;
}
.main-nav__logo-img {
  width: 150px;
}
.header-nav {
    display: inline-block;
    margin-top: 0;
}
.header-ul {
    display: flex;
    list-style: none;
    text-transform: none;
    padding-top: 35px;
    padding-left: 0px;
}
.header-ul__item {
  font-size: 18px;
  line-height: 18px;
  color: #fff;
  width: 150px;
  margin-right: 25px;
  padding: 10px 0px;
  background-color: transparent;
  border: none;
}
.page-header_handmobile {
  position: absolute;
  top: 95px;
  left: 500px;
}
.page-header_handmobile-img {
  width: 550px;
  height: 650px;
}
.download-app {
  display: flex;
  margin-left: 0px;
  padding-bottom: 100px;
  background-color: transparent;
  padding: 0 120px;
  padding-bottom: 110px;
}
.download-app__h1 {
  display: block;
  padding-left: 35px;
  color: #fff;
  width: 240px;
  font-weight: normal;
  font-size: 50px;
  text-align: center;
}
.download-app__button {
  margin-top: 22px;
  background-color: transparent;
  border: 3px solid #fff;
  color: #fff;
  font-size: 21px;
  line-height: 18px;
  border-radius: 50px;
  padding: 17px 45px;
}
.download-app__wrapper {
  display: flex;
  justify-content: space-around;
  margin-top: 60px;
}
.download_description {
    display: block;
    color: #fff;
    padding-left: 8px;
    padding-top: 35px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    text-align: center;
  }
.page-main {
  padding: 0 120px;
}
.page-footer__wrapper {
  padding: 0 120px;
}
.contact__intro {
  display: block;
  text-align: center;
  font-size: 50px;
  padding-top: 30px;
  margin-bottom: 0px;
}
.contact-div {
  display: inline-block;
  margin-right: 30px;
}
.contact-div:last-child {
  margin-left: 0px;
}
.contact__phone,
.contact__mail,
.contact__address {
  padding-top: 30px;
}
.page-footer__map {
  background-image: url("../img/map-dekstop.jpg");
  height: 500px;
  width: 1200px;
}
.footer-bottom {
  display: flex;
}
.page-footer__logo {
  padding-left: 200px;
}
.social {
  padding-left: 200px;
  display: flex;
  justify-content: space-between;
}
.page-footer__developer {
  padding-left: 200px;
}
}
