$red-color: #d8456d;
$mobile-width: 320px;
$tablet-width: 660px;
$desktop-width: 1200px;
@import "body.scss";
@import "header.scss";
@import "footer.scss";
@import "advantages.scss";
@import "reviews.scss";
@import "tariffs.scss";
@import "form.scss";
@import "photo.scss";

@media (min-width: $mobile-width) {
  body {
    width: 320px;
  }
}

@media (min-width: $tablet-width) {
    body {
      width: 660px;
    }
}
@media (min-width: $desktop-width) {
     body {
       width: 1200px;
       background: #fff;
       padding: 0;
     }
}
